@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    color:white;
}
body{
    background:url('assets/bg.jpg');
    width:100%;
    height:100dvh;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
}
body::before{
    content:"";
    position:absolute;
    width:100%;
    height:100dvh;
    background:rgb(0,0,0,0.15);
    backdrop-filter:blur(15px);
}
.main-container {
    width: 90%;
    max-width: 400px;
    min-height: 496px;
    height: auto;
    z-index: 1;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.15),
        rgba(255,255,255,0.15)
    );
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}
.input-container{
    position:relative;
    margin-bottom:25px;

}
.city-input{
    width:100%;
    padding:10px 16px;
    border-radius:99px;
    border:3px solid transparent;
    background:rgb(0,0,0,0.15);
    outline:none;
    font-weight:500;
    transition:0.25s border;
}
.city-input:focus{
    border:3px solid rgb(0,0,0,0.15);

}
.city-input::placeholder{
    color:rgb(255,255,255,0.75);

}
.search-btn{
    position:absolute;
    right:16px;
    top:50%;
    transform:translateY(-50%);
    background:none;
    display:flex;
    border:none;
    cursor:pointer;
}
.weather-info{
    display:none;
    flex-direction:column;
    gap:25px;
}
.search-city{
    display:flex;
}
.not-found{
    display:none;
}
.location-date-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.location {
    display: flex;
    align-items: center;
    gap: 6px;
}
.weather-summary-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.weather-summary-img{
    width:120px;
    height:120px;
}
.weather-summary-info{
    text-align:end;
}
.weather-conditions-container{
    display:flex;
    justify-content:space-between;
}
.condition-item{
    display:flex;
    align-items:center;
    gap:6px;
}
.condition-item span{
    font-size:30px;

}
.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
}
.forecast-items-container::-webkit-scrollbar{
    height:8px;
}
.forecast-items-container::-webkit-scrollbar-track{
    background: rgb(0,0,0,0.1);
    border-radius:99px;
}
.forecast-items-container::-webkit-scrollbar-thumb{
    background: rgb(0,0,0,0.15);
    border-radius:99px;
}
.forecast-item{
    min-width:70px;
    background:rgb(255,255,255,0.1);
    display:flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}
.forecast-item:hover{
    background:rgb(255,255,255,0.15);

}
.forecast-item-img{
    width:35px;
    height:35px;
}

.section-message{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;

}
.section-message img{
    height:180px;
    width:fit-content;
}
@media (max-width: 400px) {
    .main-container {
        width: 95%;
        padding: 15px;
    }

    .weather-summary-img {
        width: 100px;
        height: 100px;
    }

    .temp-txt {
        font-size: 28px;
    }

    .weather-info {
        gap: 18px;
    }
}